version: '3'

services:

    mysql:
        container_name: muchfit_mysql
        ports:
            - 3333:3306
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: certiapp_dev
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        volumes:
            - mysql_dev:/var/lib/mysql
            - .:/app
        image: mysql:5.7

volumes:
    mysql_dev:
